@import 'layout.scss';

.nav {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 768px) {
        padding: 2rem;
    }

    &__left-logo {
        width: 8rem;

        @media only screen and (max-width: 670px){
            width: 4rem;
        }
    }

    &__link {
        color: $color-light-grey;
        font-size: 1.8rem;
        font-weight: 600;
        text-decoration: none;
        margin-left: 3rem;
        transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);

        &:hover{
            color: $color-blue-bright;
        }

        @media only screen and (max-width: 480px){
            font-size: 1.4rem;
        }
    }
}